@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #020325;
    width: 100vw;
    overflow-x: hidden;
}

.navBar {
    background-color: #06094e;
    display: flex;
    padding: 1rem 56rem;
}

.list_item {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 0 1rem;
    font-size: 1.5rem;
}

.list_item:hover {
    color: #9b1bf0;
    list-style: none;
    text-decoration: none;
    padding: 0 1rem;
    font-size: 1.5rem;
    transition: all 0.3s ease-in-out;
}

.li {
    list-style: none;
}

.logo {
    position: absolute;
    top: 1.2rem;
    left: 13rem;
    cursor: pointer;
    color: white;
    font-size: 1.6rem;
}

.contact-image {
    width: 100vw;
    height: 60vh;
    opacity: 0.6;
}

.color {
    width: 100vw;
    height: 60vh;
    background-color: #9b1bf0;
    opacity: 0.7;
    position: absolute;
    top: 4rem;
}

.contact-heading {
    color: white;
    font-size: 10rem;
    position: absolute;
    top: 13rem;
    left: 23rem;
}

.main-body {
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading {
    color: white;
    font-size: 4rem;
}

.contact-desc {
    color: white;
    font-size: 2rem;
}

.image-links {
    display: flex;
    align-items: center;
    padding: 8rem 0;
}

.img-links {
    width: 13rem;
    padding: 0 3rem;
}

.footer {
    background-color: #06094e;
    width: 100vw;
    height: 13rem;
    color: white;
    display: flex;
    align-items: center;
    overflow-y: hidden;
}

.links {
    display: flex;
    position: relative;
    left: 63rem;
    top: 3rem;
}

.footer-grid-1 a{
    text-decoration: none;
    color: white;
    font-size: 1.6rem;
    position: relative;
    bottom: 2.9rem;
    right: 3.3rem;
}

.footer-grid-1 a:hover{
    text-decoration: none;
    color: #9b1bf0;
    font-size: 1.6rem;
    position: relative;
    bottom: 2.9rem;
    right: 3.3rem;
}

.footer-grid-1 a h5{
    padding: 1rem;
}

.footer-grid-2 a{
    text-decoration: none;
    color: white;
    font-size: 1.6rem;
    position: relative;
    bottom: 2.9rem;
}

.footer-grid-2 a:hover{
    text-decoration: none;
    color: #9b1bf0;
    font-size: 1.6rem;
    position: relative;
    bottom: 2.9rem;
}

.footer-grid-2 a h5{
    padding: 1rem;
}

.my-name a{
    text-decoration: none;
    color: white;
}

.copyright {
    position: relative;
    top: 4rem;
    right: 17.5rem;
}